<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countries and Nationalities</title>
</head>
<body>
    <audio src="static/sounds/start_sound.mp3" id="start_sound" autoplay="autoplay"></audio>
    <p>Select nationality for {{ country_info.country }}</p>

    <form action="/words" method="post">
        {% csrf_token %}
        {% for answer in answers %}
        <button type="submit"  name="choice" value="{{ answer }}">{{ answer }}</button>
        {% endfor %}
        <p>Your answer is {{ is_correct }}</p>
    </form>

    <p>Countries left: {{ countries_left }}/{{ countries_count }}</p>

</body>
</html>